*{
	margin: 0;
}
body
{
	background: white;
	color: #8a8a8a;
	font-family: Arial;
	font-size: 16px;
	margin: 0;
}
footer
{
	background: #343434;
	margin-top: 20px;
	height: 212px;
	width: 100%;
}
footer article
{
	background: #212121;
	font-size: 0.8em;
	float: right;
	height: 100%;
	padding: 0;
	width: 65%;
}
footer article p
{
	text-align: left;
}
footer article a
{
	color: red;
	font-size: 0.8em;
	margin-left: 16px;
	text-decoration: none;
	transition:all 0.5s ease;
	transform:scale(1.2);
}
footer article a:hover
{
	background: red;
	border-radius: 5px;
	color: #212121;

	font-weight: bold;
	padding: 5px 10px 5px 20px;
}
footer figure
{
	line-height: 0;
	margin: 20px 10px 0 5%;
	width: 25%;
}
footer figure, footer article
{
	display: inline-block;
	vertical-align: top;
}
footer img
{
	width: 100%;
}
header
{
	background: url("../img/bg_obramovil.png") no-repeat;
	background-size: 354px;
	background-position: 50% 100%; 
	height:460px;
	width: 100%;
}
header nav
{
	background: white;
	box-shadow: rgba(0,0,0,0.5) 0px 5px 10px;
	width: 100%;
}
header nav ul
{
	background: red;
	list-style: none;
	margin:5px 0;
	padding: 0;
	text-align: center;
}
header nav ul li
{
	background: #126297;
	transition:all 1s ease; 
	padding: 10px 0;
	width: 100%;
}
header nav ul li:hover
{
	background: #167bbe;
}
header nav ul li a
{
	color: #0d456b;
	font-weight: bold;
	padding: 10px 60px;
	text-decoration: none;
	transition:all 0.5s ease;
	transform:scale(1.2);
	
}
header nav ul li a:hover
{
	background: rgba(255,255,255,0.1);
	border-radius: 10px;
	color: #f3f3f3;
	padding: 10px 80px;
	
}
header nav #titulo_item img
{
	margin: 13px 0 0 15px;
	width: 146px;
}
h2
{
	background: #05131e;
	color: white;
	font-size: 1.2em;
	font-weight: normal;
	margin:0;
	padding: 5px 0 5px 15px;
}
p
{
	text-align: justify;
	margin: 15px;
}

#contenedor
{
	background: linear-gradient(0deg, #ffffff, #4fb3fc 900px) repeat-x ;
	background-size: 700px 700px;
	margin: 0 auto;
	
}
#contenido_a
{
	background: white;
	border: 1px solid #909092;
	border-radius: 10px 10px 0 0;
	margin: 0 auto;
	padding: 0;
	width: 98%;
}

#contenido_a h1
{
	background: #05131e;
	color: white;
	font-weight: normal;
	font-size: 1.3em;
	padding:0.3em 0.5em;
}

#contenido_a figure
{
	line-height: 0;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
#contenido_a img
{
	width: 100%;
}

#azul_a
{
	background: #def1ff;
	box-shadow: rgba(0,0,0,0.3) -3px -5px 8px;
	margin: 2em 0 0 0;
	padding: 1em 0 2em 0; 
}
#azul_a .cont_item
{
	background: white;
	border: 1px solid #909092;
	margin: 1em auto;
	padding: 0;
	width: 98%;
}
#azul_a .cont_item #lista_a 
{
	margin: 15px 5px 10px 30px;
	padding: 0;
}
#azul_a .cont_item article
{
	width:100%;
}
#azul_a .cont_item .img_item_a
{
	line-height: 0;
	margin: 10px auto;
	padding: 0;
	width: 50%;
}
#azul_a .cont_item .img_item_a img
{
	width: 100%;
}

#azul_a .cont_item h3
{
	font-size: 1em;
	margin: 10px;
}
#azul_a .cont_item #requerimientos
{
	width: 100%
}
#azul_a .cont_item .lista_b
{
	margin: 10px 10px 10px 30px;
	padding: 0;
}
#azul_a .cont_item #img_item_b 
{
	line-height: 0;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
#azul_a .cont_item #img_item_b img
{
	width: 100%;
}
#azul_b
{
	background: #bee2ff;
	box-shadow: rgba(0,0,0,0.3) -3px 5px 8px;
	margin:0;
	padding: 1em 0 2em 0; 
}
#azul_b .cont_item
{
	background: white;
	border: 1px solid #909092;
	margin: 1em auto;
	padding: 0;
	width: 98%;
}
#azul_b .cont_item #ventajas_item ul
{
	margin: 1em auto;
	padding: 0;
	text-align: center;
}
#azul_b .cont_item #ventajas_item ul li
{
	display: inline-block;
	margin: 10px;
	vertical-align: top;
	width: 150px;

}
#azul_b .cont_item #ventajas_item ul li:hover
{
	background: #abe2ff;
	border-radius: 8px;
	padding: 8px;
	transition: all 0.5s ease;
	transform:scale(1.2);
}
#azul_b .cont_item #ventajas_item img
{
	width: 150px;
}

#azul_b .cont_item #movil 
{
	margin:0 auto;
	width: 100%;
}
#azul_b .cont_item #movil ul
{
	margin: 10px 0 30px 0;
	padding: 0;
	text-align: center;
}
#azul_b .cont_item #movil ul li
{
	list-style: none;
	margin: 15px 0 0 0;
}
#azul_b .cont_item #movil ul li figure
{
	margin: 0 auto;
	width: 80%;
}
#azul_b .cont_item #movil ul li img
{
	width: 100%;
}
#azul_b .cont_item #movil ul li figcaption
{
	margin: 0;
	padding: 0;
}
#sistemas
{
	margin-top: 2em;
}
#sistemas .sistema_item
{
	text-align: left;
	margin-top: 10px;
	width: 70%;
}
#sistemas .sistema_item p
{
	margin-left: 0;
	text-align: left;
}
#sistemas li h4
{
	background: black;
	border-radius: 5px;
	font-size: 1em;
	font-weight: bold;
	line-height: 20px;
	margin: 5px;
	padding: 8px 5px;
}
#sistemas ul
{
	margin: 0 auto;
	padding: 0;
	text-align: center;
	text-decoration: none;
}
#sistemas ul li
{
	border-radius: 8px;
	color: white;
	margin: 30px auto;
	text-align: center;
	transition:all 0.5s ease;
	transform: scale(1.1);
	padding:15px 0;
	width: 98%;
}
#sistemas ul li a
{
	border-radius: 2px;
	color: red;
	font-weight: bold;
	margin: 0;
	text-decoration: none;
	transition:all 0.5s ease;
	transform: scale(1.1);
}
#sistemas ul li a:hover
{
	background: #ffc000;
	border-radius: 10px;
	color: #444242;
	padding: 8px 15px 8px 30px; 
}
#sistemas ul #concretos
{
	background: #454545;
}
#sistemas ul #concretos:hover
{
	background: #737373;
	width: 90%;
}
#sistemas ul #control
{
	background: #0c4d75;
}
#sistemas ul #control:hover
{
	background: #157bb9;
	width:90%;
}
#sistemas ul #mante
{
	background: #00554d;
}
#sistemas ul #mante:hover
{
	background: #017f73;
	width: 90%;
}
#sistemas figure
{
	line-height: 0;
	margin: 0;
	padding: 0;
	width: 25%;
}
#sistemas  img
{
	width: 100%;
}
#sistemas figure, #sistemas .sistema_item
{
	display: inline-block;
	vertical-align: top;
}